:root {
  --item_bottom_btns_min_height: 180px;
}
.main_list {
    width: 100vw;
    height: fit-content;
    background: #ffffff;
}

.row {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: flex-end
}

.Product {
    float: right;
    min-height: 600px;
    width: 72%;
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    flex-wrap: wrap;
    position: relative;
    align-items:flex-start;
}

.item{
    width: 260px;
    height: 488px;
    margin: 10px;
    flex-direction: row;
    justify-items: center;
    flex-grow: 0;
    border-radius: 9px;
    transition: 0.2s;
    position:relative;
}
.item-description-bottom_btns{
    width: 260px;
    height:120px;
    position: absolute;
    display:none;
    z-index: 10;
    background-color:#ffffff;
    transition: 0.2s;
}
.item:hover .item-description-bottom_btns {
    display: block;
}
.item:hover{
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    height:618px;
}
.home_product_block_link {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.home_img1_block__container__ {
    align-items: center;
    width:252px;
    height:336px;
    margin-bottom: 10px;
    padding-top: 10px;
    margin-left:auto;
    margin-right:auto;
}

.product_img_homepage {
    width: 250px;
    height: 336px;
    float: none;
    display:block;
    margin: 0 auto;
}

.product_title {
    font-size: 14px;
    line-height: 20px;
    color: #999;
    font-weight: 400;
}

#price {
    font-weight: 500;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    outline: none;
}
.product_title_block{
    max-height: 60px;
}

.detail_button {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    display: inline-flex;
    font: inherit;
    height: auto;
    line-height: 1;
    margin-left: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    margin-top: 15px;
}

.detail_button:focus {
    outline: none;
}

.detail_button::-moz-focus-inner {
    border: 0;
}

.Button-inner {
    align-items: center;
    background: #456BD9;
    border: 2px solid transparent;
    border-radius: 99em;
    color: #fff;
    display: flex;
    font-weight: 600;
    height: 2.5em;
    min-width: 2.5em;
    padding: 0 1em;
    position: relative;
    transition: 0.2s ease;
    width: 100%;
}

.Button:focus .Button-inner {
    border-color: #fff;
    box-shadow: 0 0 0 2px #456BD9;
}

.detail_button:hover .Button-inner {
    filter: brightness(1.1);
}

.detail_button:active .Button-inner {
    filter: brightness(0.9);
}






